* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.bg-purple{
    background-color: rgb(60, 0, 172);
}

section.bg-blue{
    background-color: blue;
}

section.bg-green{
    background-color: green;
}

section.bg-darkblue{
    background-color: darkblue;
}

section.bg-yellow{
    background-color: yellow;
}